* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff3f6;
}

@font-face {
  font-family: DmSans;
  src: url(src/DM_Sans/DMSans-VariableFont_opsz,wght.ttf);
}

h1{
  color: black;
  font-family: DmSans, sans-serif;
  line-height: 1em;
  font-weight: 700;
  font-size: 60px;
  max-width: 700px;
  margin-bottom: 2rem;
}


p,
code,
button {
  font-size: 14;
}

button {
  font-size: 14px !important;
  height: 47px;
  text-wrap: nowrap;
}

.basicButton{
  font-size: 14px !important;
  height: 47px;
  width: 170px;
  border-radius: 50px;
  text-wrap: nowrap; 
  background-color: black;
  color: white;
}
